// primary colors
$primary_cyan: #5FB4A2;
$primary_dark_blue: #203A4C;
$primary_grayish_dark_blue: #33323D;

// secondary colors
$secondary_light_grey_bg: #FAFAFA;
$secondary_light_grey_text_field: #EAEAEA;
$secondary_bright_red: #F43030;

//misc
$black: #000000;
$white: #ffffff;

