@import url('https://fonts.googleapis.com/css2?family=Ibarra+Real+Nova&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ibarra+Real+Nova&family=Public+Sans&display=swap');


$font-family-nova: 'Ibarra Real Nova', serif;
$font-family-sans: 'Public Sans', sans-serif;

h1, .h1{
  font-family: $font-family-nova;
  font-size: 50px;
  line-height: 50px;
  font-weight: bold;
}

h2, .h2{
  font-family: $font-family-nova;
  font-size: 40px;
  line-height: 42px;
  font-weight: bold;
}

h3, .h3 {
  font-family: $font-family-nova;
  font-size: 32px;
  line-height: 36px;
  font-weight: normal;
}

.body-1 {
  font-family: $font-family-sans;
  font-weight: normal;
  font-size: 16px;
  line-height: 30px;
}

.body-2 {
  font-family: $font-family-sans;
  font-weight: normal;
  font-size: 15px;
  line-height: 30px;
}
