@import "../styles/colors.scss";

:host {
  height: 100%;
}
.portfolio-main {
  height: 100%;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  #header,
  .portfolio-content {
    padding: 0px 96px;
  }
}
