@import "../styles/colors.scss";
@import "../styles/respond-to.scss";

:host {
  height: 100%;
}
.portfolio-main {
  height: 100%;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  overflow-x: hidden;


  #header,
  .portfolio-content {
    padding: 12px;
    @include respond-tablet($at-minimum: true) {
      padding: 12px 100px;
    }
  }
}
