@import "../../../styles/colors.scss";
@import "../../../styles/typography.scss";
@import "../../../styles/respond-to.scss";

$arrow-border-lr: 15px;
$arrow-border-bottom: 20px;

:host {
  width: 100%;
  height: 100%;
}

.portfolio-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  .jump-to {
    display: flex;
    .arrow-up {
      width: 0;
      height: 0;
      border-left: $arrow-border-lr solid transparent;
      border-right: $arrow-border-lr solid transparent;
    }

    .arrow-down {
      width: 0;
      height: 0;
      border-left: $arrow-border-lr solid transparent;
      border-right: $arrow-border-lr solid transparent;
    }
  }
  .nav {
    width: 300px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    .nav__item {
      color: $primary_grayish_dark_blue;
      font-family: $font-family-sans;
      font-size: 12px;
      text-transform: uppercase;
      cursor: pointer;
      transition: all 500ms ease-in-out;
      text-decoration: none;
      &:hover,
      &--active {
        color: $primary_cyan;
      }
    }
  }

  &--header {
    width: 100%;
    .jump-to {
      .arrow-up {
        border-bottom: $arrow-border-bottom solid $black;
      }
      .arrow-down {
        border-top: $arrow-border-bottom solid $black;
      }
    }
    .nav {
      &--table-and-desktop {
        display: none;
        @include respond-tablet($at-minimum: true) {
          display: flex;
        }
      }
      &--mobile {
        width: unset;
        display: block;
        #menuTrigger {
          border: none;
          background-color: transparent;
          outline: none;
        }
        .mobile-nav-list {
          background-color: $primary_grayish_dark_blue;
          height: 186px;
          width: 223px;
          flex-direction: column;
          align-items: center;
          justify-content: space-evenly;
          padding: 0;
          position: absolute;
          display: none;
          transition: all 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
          z-index: 1000;
          &--open {
            right: 15px;
            display: flex;
          }
          .nav__item {
            color: $white;
          }
        }
        @include respond-tablet($at-minimum: true) {
          display: none;
        }
      }
    }
  }

  &--footer {
    flex-direction: column;
    width: 100%;
    height: 100%;
    @include respond-tablet($at-minimum: true) {
      flex-direction: row;
      width: 40%;
    }
    .jump-to {
      .arrow-up {
        border-bottom: $arrow-border-bottom solid $white;
      }
      .arrow-down {
        border-top: $arrow-border-bottom solid $white;
      }
    }
    .nav {
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      align-items: center;
      height: 100%;
      @include respond-tablet($at-minimum: true) {
        flex-direction: row;
      }
      &--mobile {
        display: none;
      }
      .nav__item {
        color: $white;
      }
    }
  }
}
