@import "../../../styles/colors.scss";
@import "../../../styles/typography.scss";
@import "../../../styles/respond-to.scss";
.portfolio-home {
  display: flex;
  flex-direction: column;
  .section {
    margin: 60px 0;
  }
  #hero {
    position: relative;
    display: flex;
    flex-direction: column;
    .hello {
      @include respond-tablet($at-minimum: true) {
        width: 500px;
        background: #fff;
        position: absolute;
        bottom: 0;
        margin: 0;
      }
    }
  }

  #aboutMe {
    display: flex;
    flex-direction: column;
    @include respond-tablet($at-minimum: true) {
      flex-direction: row;
      .about-text {
        margin: 0 92px !important;
      }
    }
    .about-text {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      border-top: 1px solid #ccc;
      border-bottom: 1px solid #ccc;
      margin-top: 48px;
      span {
        margin-bottom: 24px;
      }
      #goToPortfolio {
        margin-top: 12px;
      }
    }
    hr {
      &:last-of-type {
        margin-top: 60px;
      }
    }
  }
}
