@import "../../../styles/colors.scss";
@import "../../../styles/typography.scss";
@import "../../../styles/respond-to.scss";

.portfolio-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: $primary_grayish_dark_blue;
  flex-direction: column;
  padding: 24px;
  height: 354px;
  @include respond-tablet() {
    height: 80px;
    flex-direction: row;
  }
  @include respond-desktop() {
    height: 40px;
    flex-direction: row;
  }
  .social {
    display: flex;
    .social__icon {
      &:first-of-type {
        margin-right: 6px;
      }
    }
  }
}
