<div class="portfolio-footer">
  <div class="portfolio-footer__content">
    <portfolio-nav [placement]="'footer'"></portfolio-nav>
    <div class="social">
      <a href="" class="social__icon">
        <img src="assets/icons/github.svg" alt="github icon" />
      </a>
      <a href="" class="social__icon">
        <img src="assets/icons/twitter.svg" alt="a vector graphic" />
      </a>
      <a href="" class="social__icon">
        <img src="assets/icons/linkedin.svg" alt="a vector graphic" />
      </a>
    </div>
  </div>

</div>
