@import "../../../styles/colors.scss";
@import "../../../styles/typography.scss";
@import "../../../styles/respond-to.scss";

.portfolio-footer {
  background-color: $primary_grayish_dark_blue;
  padding: 24px 0;
  height: 200px;
  @include respond-tablet() {
    height: 80px;
  }
  @include respond-desktop() {
    height: 40px;
  }
  &__content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    height: 100%;

    .social {
      display: flex;
      align-items: center;
      a {
        margin: 0 12px;
      }

    }

    @include respond-tablet() {
      padding: 0 48px;
      flex-direction: row;
    }
    @include respond-desktop() {
      padding: 0 92px;
      flex-direction: row;
    }

  }
}
